*{
    padding: 0px;
    margin: 0px;
}

.fundo {
  background-image: url('../../assets/images/img-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
