body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111; /* fundo escuro */
  background: url('/path/para/sua/imagem.jpg') no-repeat center center;
  background-size: cover;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.7); /* caixa preta semi-transparente */
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 50vh;
  gap: 30px;

}

.login-box h2 {
  color: white;
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
}





.register-text {
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.register-text span {
  color: #00b000;
  cursor: pointer;
  text-decoration: underline;
}h2{
    font-size: 40px;
}
